[submodule "Rainbow/vendor/spdlog"]
	path = Rainbow/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rainbow/vendor/GLFW"]
	path = Rainbow/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Rainbow/vendor/imgui"]
	path = Rainbow/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Rainbow/vendor/glm"]
	path = Rainbow/vendor/glm
	url = https://github.com/g-truc/glm
